html,
body {
    background-color: #fff;
    min-width: 290px;
    color: #4d4353;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

#navbar {
  position: absolute;
  min-width: 200px;
  width: 150px;
  height: fit-content;
  border-right: solid;
  border-color: #8C827E;
  background-color: #808080;
}
#navbar a {
  display: block;
  font-size: 25px;
  color: #333333;
  text-decoration: none;


}

#navbar a:hover {
  color: #f1f1f1;
}

#main-doc {
  margin-left: 250px;
  padding: auto;
  position: absolute;
  
}


